html {
	width: 70%;
	margin: 0 auto;
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	background: #000000;
	color: #f2f2f2;
}

h1 {
	text-align: center;
	color: aqua;
}

p {
	text-align: justify;
}

button {    
    font-family: 'Quicksand', sans-serif;
    background-color: aqua;
    border: none;
    color: black;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    width: 200px;
}
button:hover {
    background-color: #FFFFFF;
    color: black;
}
